*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary:#a54242;
}


header{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary);
    height: 100px;
    width: 100%;
   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 35px;
}

.container-buttons{
    display: flex;
    justify-content: space-between;
    width: 80px;
    
}
.container-buttons a:hover{
    cursor: pointer;
    
}

.container-buttons i{
    font-size: 25pt;

}

.main-section{
    height: 100px;

}

.LT-row-container{
    display: flex;
    justify-content: center;
    
}


.LT-celula{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LT-column-container input{
    display: flex;
    align-items: center;
    width: 150px !important;
    height: 150px !important;
    font-size: 65px !important;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

label{
    color:white;
    font-weight: 700;
    font-size: 30px;
    padding: 15px 0;
    text-align: center;

}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

.start-button{
    color: white;
    background-color: var(--color-primary);
    width: 500px;
   
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.start-button:hover{
    padding: 10px 0;
    background-color: var(--color-primary);
    width: 520px;
    transition: all 0.5s;
    font-size: 20px;
    color: white;
    font-weight: 700;
}
.time{
    color: white !important;
    text-align: center; 
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;

}

h2{
    font-size:100px;
}